In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("E://PHD/Course materials/Sem 1/Data Mining/Assignment/workspace/stock_price_trend_prediction/stock_price_pred_data_mining/Data/05_cluster_output/cluster_output.csv")

df = df.drop(columns=['BB_middle','High','EMA20','MA21'])

In [3]:
df.head(3)

,Date,stock_id,Open,Low,Close,Volume,MA7,EMA50,RSI_14,MACD,...,BB_upper,BB_lower,CCI_14,CMF_20,Stoch_K,Stoch_D,Momentum_10,Daily_Return,Log_Return,cluster
0,2021-12-14,ANANDRATHI,287.24,270.75,279.37,27861900.0,274.57858,284.8262,100.00000,8.264428,...,257.13663,310.46637,-4213.020993,-0.169092,80.29088,84.21576,-5.51,0.002398,0.002395,1
1,2021-12-15,ANANDRATHI,280.06,276.71,280.04,2675624.0,274.57858,284.8262,100.00000,8.264428,...,257.13663,310.46637,-4213.020993,-0.169092,80.29088,84.21576,-5.51,0.002398,0.002395,1
2,2021-12-16,ANANDRATHI,280.54,271.01,273.31,1329736.0,274.57858,284.8262,56.41192,8.264428,...,257.13663,310.46637,-4213.020993,-0.169092,80.29088,84.21576,-5.51,-0.024032,-0.024326,1

In [6]:
df.shape

(72848, 22)

In [10]:
df_cluster1 = df[df['cluster'] == 0].copy()
df_cluster2 = df[df['cluster'] == 1].copy()

In [11]:
df_cluster1.shape

(15664, 22)

In [12]:
df_cluster2.shape

(57184, 22)