In [1]:
import yfinance as yf
import pandas as pd
from tqdm import tqdm

In [29]:
df = pd.read_csv("E://PHD/Course materials/Sem 1/Data Mining/Assignment/workspace/stock_price_trend_prediction/stock_price_pred_data_mining/Data/01_raw/stock_list_new_copy.csv")

In [42]:
start_date = "2025-09-25"
end_date = "2025-09-30"

In [8]:
df['stock_id']

0       RELIANCE
1       HDFCBANK
2     BHARTIARTL
3            TCS
4      ICICIBANK
5           SBIN
6     BAJFINANCE
7           INFY
8     HINDUNILVR
9           LICI
10            LT
11        MARUTI
12           ITC
13           M&M
14     KOTAKBANK
15       HCLTECH
16     SUNPHARMA
17      AXISBANK
18         TITAN
19        HYUNDAI
20         SANOFI
21    WAAREERENEW
22            RRP
23     OSWALPUMPS
24      INGERRAND
25     ANANDRATHI
26     SHAKTIPUMP
27     CASTROLIND
28           CAMS
29            IEX
30           TTML
31     JEENASIKHO
32      SANOFIIND
33           PGHL
34        PRUDENT
35            PEL
36      SCHNEIDER
37          SUNTV
38        TRIVENI
39     KARURVYSYA
40       RSYSTEMS
41         CRIZAC
42         ENTERO
43    UNIMECHAERO
44            PTC
45      INNOVACAP
46        SUNFLAG
47     GREAVESCOT
48       SHILCHAR
49         WEBSOL
50     VSTTILLERS
51           JKIL
52     RESPONSIND
53          ROUTE
54       PACEDIGI
55           GAEL
56            SJS
57       SPICEJET
58            NFL
59          GOPAL
Name: stock_id, dtype: object

In [24]:
data = yf.download("RELIANCE.NS", start=start_date, end=end_date)

C:\Users\kirut\AppData\Local\Temp\ipykernel_26568\2328470521.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("RELIANCE.NS", start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed

In [25]:
data

Price             Close         High          Low         Open      Volume
Ticker      RELIANCE.NS  RELIANCE.NS  RELIANCE.NS  RELIANCE.NS RELIANCE.NS
Date
2025-10-01  1368.699951  1378.599976  1362.699951  1367.000000    12045916
2025-10-02  1368.699951  1368.699951  1368.699951  1368.699951           0
2025-10-03  1363.400024  1371.599976  1356.900024  1363.199951    12842347
2025-10-06  1375.000000  1377.400024  1359.000000  1360.000000    12396580
2025-10-07  1384.800049  1395.900024  1375.900024  1376.000000    11244040
2025-10-08  1367.400024  1389.000000  1364.500000  1384.800049     8525081
2025-10-09  1377.800049  1380.000000  1369.099976  1374.000000     8825689

In [46]:
all_data = []

for stock in tqdm(df['stock_id']):
    stock = str(stock).strip().upper() 
    
    data = yf.download(stock + ".NS", start=start_date, end=end_date)
    data['stock_id'] = stock
    print("++++++++++++",start_date)
    print(data)
    all_data.append(data)

# Reset index for clean formatting
all_data = pd.concat(all_data, ignore_index=True)

  0%|          | 0/2 [00:00<?, ?it/s]C:\Users\kirut\AppData\Local\Temp\ipykernel_26568\4175585046.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(stock + ".NS", start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed
C:\Users\kirut\AppData\Local\Temp\ipykernel_26568\4175585046.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(stock + ".NS", start=start_date, end=end_date)
[*********************100%***********************]  1 of 1 completed
100%|██████████| 2/2 [00:00<00:00, 63.54it/s]

++++++++++++ 2025-09-25
Price             Close         High         Low         Open      Volume  \
Ticker      RELIANCE.NS  RELIANCE.NS RELIANCE.NS  RELIANCE.NS RELIANCE.NS
Date
2025-09-25  1372.400024  1384.500000      1369.0  1381.300049    11411143
2025-09-26  1377.599976  1382.699951      1366.0  1372.000000     9879109
2025-09-29  1372.800049  1389.000000      1368.0  1381.599976    14231999

Price       stock_id
Ticker
Date
2025-09-25  RELIANCE
2025-09-26  RELIANCE
2025-09-29  RELIANCE
++++++++++++ 2025-09-25
Price            Close        High         Low        Open      Volume  \
Ticker     HDFCBANK.NS HDFCBANK.NS HDFCBANK.NS HDFCBANK.NS HDFCBANK.NS
Date
2025-09-25  949.849976  958.000000  947.400024  952.500000    31413279
2025-09-26  945.049988  951.450012  941.299988  945.099976    14874656
2025-09-29  950.299988  956.799988  939.099976  946.049988    32398179

Price       stock_id
Ticker
Date
2025-09-25  HDFCBANK
2025-09-26  HDFCBANK
2025-09-29  HDFCBANK

In [47]:
all_data

Price,Close,High,Low,Open,Volume,stock_id,Close,High,Low,Open,Volume
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS
0,1372.400024,1384.500000,1369.0,1381.300049,11411143.0,RELIANCE,NaN,NaN,NaN,NaN,NaN
1,1377.599976,1382.699951,1366.0,1372.000000,9879109.0,RELIANCE,NaN,NaN,NaN,NaN,NaN
2,1372.800049,1389.000000,1368.0,1381.599976,14231999.0,RELIANCE,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,HDFCBANK,949.849976,958.000000,947.400024,952.500000,31413279.0
4,NaN,NaN,NaN,NaN,NaN,HDFCBANK,945.049988,951.450012,941.299988,945.099976,14874656.0
5,NaN,NaN,NaN,NaN,NaN,HDFCBANK,950.299988,956.799988,939.099976,946.049988,32398179.0

In [36]:
all_data.shape

(22, 12)